.about {
    .inner {
        width: 50%;

        &.slider {
            position: relative;
            height: 510px;

            button.slide {
                position: absolute;
                border: 0;
                transition: all 0.4s ease;
                background: none;
                width: 100%;
                border-radius: 20px;
                overflow: hidden;
                padding: 0;
                margin: 0;
                border: 5px solid #FFF;
                box-sizing: border-box;

                img {
                    width: 100%;
                    height: 100%;
                }

                &:nth-child(2) {
                    right: -30px;
                    height: calc(520px - 10%);
                    bottom: 5%;
                    z-index: 2;
                    opacity: 0.6;
                }

                &:nth-child(3) {
                    right: -60px;
                    height: calc(520px - 20%);
                    bottom: 10%;
                    z-index: 1;
                    opacity: 0.3;
                }

                &.active {
                    height: 520px;
                    opacity: 1;
                    bottom: 0;
                    right: 0;
                    z-index: 3;
                }

            }

        }
    }
}