<div class="container" id="about">
    <div class="about">
        <h3 class="mb-4">about us</h3>
        <div class="d-flex flex-wrap inner-wrapper">
            <div class="inner">
                <p class="p-primary">
                    Welcome to OneStep Licensing! We're passionate about creating thriving licensed
                    partnerships in the retail marketplace. We see licensing as a fantastic opportunity to
                    enhance our clients' core businesses, drive new product sales, foster long-term brand
                    visibility, and enable delightful interactions with consumers. Our approach combines
                    protection and profit, offering a comprehensive licensing program as a seamless solution
                    for our partners.
                </p>
                <p class="p-primary h-auto">
                    As the proud licensing agent for remarkable brands like <a href="https://www.brp.com/en/"
                        target="_blank">Bombardier Recreational
                        Products</a>, <a href="https://www.koenigsegg.com/" target="_blank">Koenigsegg</a>,
                    <a href="https://nilu27.com/" target="_blank">Nilu27</a>, and
                    <a href="https://guntherwerks.com/" target="_blank">Gunther Werks</a>, we are dedicated
                    to expertly
                    managing
                    their licensing categories. We invite you to explore their websites to learn more about
                    these incredible brands:
                </p>
                <p class="p-primary">
                    Our strategy is focused on positioning brands for sustainable growth
                    in the ever-evolving licensing landscape. We are committed to nurturing meaningful
                    connections between the brands we represent and our clients, ensuring a bright and
                    successful future together. Let's embark on this exciting journey!
                </p>
            </div>


            <div class="inner slider" id="slide-shifter">
                <button type="button" class="slide active">
                    <img src="../assets/images/about/about_us_1.png" alt="">
                </button>
                <button type="button" class="slide">
                    <img src="../assets/images/about/about_us_2.png" alt="">
                </button>
                <button type="button" class="slide">
                    <img src="../assets/images/about/about_us_3.png" alt="">
                </button>
            </div>

        </div>
    </div>
</div>