<!-- read from data.can_games -->
<div class="can-header pt-5">
    <div class="container">
        <div class="inner-header">
            <div class="inner d-flex mt-lg-5 mt-3">
                <div>
                    <div class="d-flex align-items-center">
                        <img
                            src="{{ site.data.can_games.header.image }}"
                            class="w-25 me-3"
                            alt=""
                        />
                        <h2 class="fw-bolder border-start ps-3 text-uppercase">
                            {{ site.data.can_games.header.title }}
                        </h2>
                    </div>
                    <p class="p-primary pt-4">
                        {{ site.data.can_games.header.description }}
                    </p>
                </div>

                <ul class="navigation">
                    {% for nav in site.data.can_games.navigation %}
                    <li>
                        <a
                            href="{{ nav.link }}"
                            class="{% if nav.active %}active{% endif %}"
                        >
                            <img src="{{ nav.image }}" alt="" />
                            <h4>{{ nav.title }}</h4>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="inner slider" id="slide-shifter">
                {% for image in site.data.can_games.slider_images %}
                <button
                    type="button"
                    class="slide {% if forloop.first %}active{% endif %}"
                >
                    <img class="w-100" src="{{ image }}" alt="" />
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container tab-content">
    <p class="text-center my-5 p-secondary">
        {{ site.data.can_games.intro_paragraph }}
    </p>
    <h3 class="my-3">explore games</h3>
</div>

{% for game in site.data.canam_video_games %}
<div id="videogames" class="text-center video-games">
    <div class="container">
        <h2>{{ game.title }}</h2>

        <div class="position-relative mt-0 mb-5">
            <div class="carousel-video" id="carousel-video">
                {% for slide in game.carousel %}
                <div>
                    <img src="{{ slide.image }}" alt="" />
                    {% if slide.hasVideo %}
                    <button type="button" class="video-overlay"></button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <img
                src="{{ game.logo }}"
                class="img-logo position-absolute"
                alt=""
            />
        </div>

        <div class="my-2 py-2 my-lg-5 py-lg-5">
            <h3>{{ game.highlight.title }}</h3>
            <p class="p-primary">{{ game.highlight.description }}</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div
    class="modal fade video-modal"
    id="{{ game.modal.id }}"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <iframe
                    width="560"
                    height="315"
                    src="{{ game.modal.videoUrl }}"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</div>
{% endfor %}
