<div class="container" id="contact">
    <div class="my-5 contact">

        <div class="row position-relative">
            <div class="contact-title my-auto ps-5 col-md-3">
                <h3>Get ready. <br> Contact us!</h3>
                <p class="p-primary">OneStep Licensing, <br> Kowloon, Hong Kong</p>
            </div>

            <div class="col-md-9 contact-form">



                <!-- <iframe id="JotFormIFrame-251855089016057" title="Contact Us" onload="window.parent.scrollTo(0,0)"
                    allowtransparency="true" allow="geolocation; microphone; camera; fullscreen; payment"
                    src="https://form.jotform.com/251855089016057" frameborder="0"
                    style="min-width:100%;max-width:100%;height:539px;border:none;" scrolling="no">
                </iframe>
                <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-251855089016057']", "https://form.jotform.com/")</script> -->



                <form action="https://submit.jotform.com/submit/251855089016057" method="post" class="row g-3"
                    id="contactForm">
                    <div class="col-md-6">
                        <input type="text" name="q4_name" placeholder="Name" required>
                    </div>
                    <div class="col-md-6">
                        <input type="email" name="q5_email" placeholder="Email" required>
                    </div>
                    <div class="col-md-12">
                        <textarea name="q6_message" placeholder="Message" required></textarea>
                    </div>
                    <div class="d-flex align-items-center justify-content-between flex-lg-row flex-column gap-3">
                        <div class="success-mail-submission">
                            Thank you. <br> Your message is sent successfully and we will contact you soon.
                        </div>
                        <button type="submit" class="btn btn-dark px-5 py-2 btn-sm rounded-3 fw-bold">
                            <div class="spinner-border d-none" role="status"></div>
                            SUBMIT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const _url = window.location.href;
    const _contactForm = document.getElementById("contactForm");
    const _spinner = _contactForm.querySelector(".spinner-border");
    const _submitBtn = _contactForm.querySelector('button[type=submit]');
    const hash = window.location.hash;
    _submitBtn.addEventListener('click', () => {
        if (_contactForm.checkValidity())
            _spinner.classList.remove('d-none');
    });

    if (_url.includes('mailSent')) {
        const _success = document.querySelector(".success-mail-submission");
        setTimeout(() => {
            _spinner.classList.add('d-none');
            _contactForm.reset();
            _success.classList.add('show');
            history.replaceState(null, "", window.location.pathname + hash);
        }, 1000);

        setTimeout(() => {
            _success.classList.remove('show')
        }, 8000);
    }
</script>