<footer class="my-5">
    <div class="container d-flex flex-lg-row justify-content-between align-items-center flex-column-reverse gap-4">
        <div class="icon d-flex gap-2">
            <a href="https://www.linkedin.com/in/onestep-licensing-b67299221/" target="_blank"><img src="../assets/images/icon__linkedin.svg" alt=""></a>
            <a href="#" target="_blank"><img src="../assets/images/icon__x.svg" alt=""></a>
            <a href="https://wa.me/85267138400?text=I'm%20interested%20in%20ONESTEP%20LICENSING" target="_blank"><img src="../assets/images/whatsapp.svg" alt=""></a> 
        </div>
        <div class="text-center flex-grow-1 ">
            <p class="p-0 m-0">Copyright &copy;{{ site.time | date: "%Y" }} - OneStep Licensing</p>
        </div>
    </div>
</footer>
