<div class="pt-4 pt-lg-5" id="header">
    <nav class="gap-lg-5 gap-3 mx-auto shadow-sm top-menu" id="topMenu">
        <div>
            <a href="/#header">
                <img src="../assets/images/header_logo.svg" alt="">
            </a>
        </div>
        <ul class="d-flex gap-3">
            <li><a href="/#about">about</a></li>
            <li><a href="/#services">Services</a></li>
            <li><a href="/#showcase">Showcase</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </nav>
</div>