<div class="container mt-3 mt-lg-5">
    <div id="carouselExampleFade" class="carousel slide carousel-fade hero" data-bs-ride="carousel">
        <div class="carousel-inner">

            <!-- carousel item -->
            <div class="carousel-item active slide-1">
                <div class="partial">
                    <h1 class="p-secondary mt-5"><span class="text-black text-uppercase">OneStep Licensing</span>
                        —
                        your partner<br>for increasing brand awareness,revenue,<br>
                        and driving customer loyalty.</h1>
                </div>
                <div class="partial images">
                    <div class="main-bg">
                        <img src="../assets/images/slider/slide-1/img-1.png" alt="">
                        <img src="../assets/images/slider/slide-1/img-2.png" alt="">
                        <img src="../assets/images/slider/slide-1/img-3.png" alt="">
                    </div>
                </div>
            </div>
            <!-- carousel item  -->
            <div class="carousel-item slide-2">
                <div class="partial">
                    <h1 class="p-secondary mt-5"><span class="text-black text-uppercase">OneStep Licensing</span>
                        —
                        your partner<br>for increasing brand awareness,revenue,<br>
                        and driving customer loyalty.</h1>
                </div>
                <div class="partial images">
                    <div class="main-bg">
                        <img src="../assets/images/slider/slide-2/img-1.png" alt="">
                        <img src="../assets/images/slider/slide-2/img-2.png" alt="">
                        <img src="../assets/images/slider/slide-2/img-3.png" alt="">
                    </div>
                </div>
            </div>

            <!-- carousel item  -->
            <div class="carousel-item slide-3">
                <div class="partial">
                    <h1 class="p-secondary mt-5"><span class="text-black text-uppercase">OneStep Licensing</span>
                        —
                        your partner<br>for increasing brand awareness,revenue,<br>
                        and driving customer loyalty.</h1>
                </div>
                <div class="partial images">
                    <div class="main-bg">
                        <img src="../assets/images/slider/slide-3/img-1.png" alt="">
                        <img src="../assets/images/slider/slide-3/img-2.png" alt="">
                        <img src="../assets/images/slider/slide-3/img-3.png" alt="">
                    </div>
                </div>
            </div>

        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> -->
    </div>
</div>