<div class="my-4 py-4 my-lg-5 py-lg-5" id="showcase">
    <div class="showcase">
        <div class="container">
            <h3 class="mb-lg-4 mb-2">Showcase</h3>
        </div>
        <div class="scroller-container">
            <div class="showcase-track" id="cardShowcase">

                <div class="card">
                    <div>
                        <img src="../assets/images/showcase/showcase_01_seadoo.png" alt="">
                    </div>

                    <span class="card-action">Coming Soon</span>
                </div>

                <div class="card">
                    <div>
                        <img src="../assets/images/showcase/showcase_02_canam.png" alt="">
                    </div>

                    <a class="card-action" href="/can-am-games">
                        <span>Explore</span>
                        <img src="../assets/images/arrow.svg" alt="">
                    </a>
                </div>

                <div class="card">
                    <div>
                        <img src="../assets/images/showcase/showcase_03_skidoo.png" alt="">
                    </div>

                    <span class="card-action">Coming Soon</span>
                </div>

                <div class="card">
                    <div>
                        <img src="../assets/images/showcase/showcase_04_koenigsegg.png" alt="">
                    </div>
                    <span class="card-action">Coming Soon</span>
                </div>

                <div class="card">
                    <div>
                        <img src="../assets/images/showcase/showcase_05_porsche.png" alt="">
                    </div>

                    <span class="card-action">Coming Soon</span>
                </div>

                <div class="card">
                    <div>
                        <img src="../assets/images/showcase/showcase_06_nilu27.png" alt="">
                    </div>

                    <span class="card-action">Coming Soon</span>
                </div>

                <div class="card">
                    <div>
                        <img src="../assets/images/showcase/showcase_08_toyota.png" alt="">
                    </div>

                    <span class="card-action">Coming Soon</span>
                </div>

                <div class="card">
                    <div>
                        <img src="../assets/images/showcase/showcase_09_lexus.png" alt="">
                    </div>

                    <span class="card-action">Coming Soon</span>
                </div>

                <div class="card">
                    <div>
                        <img src="../assets/images/showcase/showcase_10_ducati.png" alt="">
                    </div>

                    <span class="card-action">Coming Soon</span>
                </div>

            </div>
        </div>
    </div>
</div>