<div class="my-5 timeline pb-5 pt-4" id="timeline">
    <div class="container">
        <h3>our timeline</h3>

        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-2019"
                        type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <div class="my-auto active-year">2019</div>
                    </button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-2021"
                        type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <div class="my-auto">2021</div>
                    </button>

                    <button class="nav-link " id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-2022"
                        type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <div class="my-auto">2022</div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-2023"
                        type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="my-auto">2023</div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-2024"
                        type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="my-auto">2024</div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-2025"
                        type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="my-auto">2025</div>
                    </button>
                </div>
            </div>

            <div class="tab-content col-md-9 position-relative">
                <div class="tab-pane fade show active" id="v-2019">
                    <div class="content">
                        <div class="img-container">
                            <img src="../assets/images/timeline/2019-1.svg" alt="">
                        </div>
                        <p>Established</p>
                        <div class="img-container rounded-3">
                            <img src="../assets/images/timeline/2019-2.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-2021">

                    <div class="content">
                        <ul>
                            <li>
                                <div class="img-container">
                                    <img width="113" src="../assets/images/timeline/2021-1.svg" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="img-container rounded-4 p-0 overflow-hidden">
                                    <img width="130" src="../assets/images/timeline/2021-2.png" alt="">
                                </div>
                            </li>
                        </ul>
                        <p>
                            Became BRP Can-Am, Skidoo &<br> Seadoo
                            exclusive brand licensing<br> agent
                            <br><br>
                            BRP Can-Am x Dakar Game<br>2019
                        </p>

                        <ul>
                            <li>
                                <div class="img-container">
                                    <img width="180" src="../assets/images/timeline/2021-3.svg" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="img-container">
                                    <img width="180" src="../assets/images/timeline/2021-4.svg" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-2022">
                    <div class="content">
                        <div class="img-container">
                            <img width="120" src="../assets/images/timeline/2021-1.svg" alt="">
                        </div>
                        <p>
                            <br>
                            BRP x Diecast Models
                        </p>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-2023">
                    <div class="content">
                        <div class="img-container">
                            <img width="245" src="../assets/images/timeline/2023.png" alt="">
                        </div>
                        <p>
                            <br>
                            BRP launched their brand new Maverick R SxS
                        </p>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-2024">
                    <div class="content">
                        <p>
                            <br>
                            OSL start collaborating with<br>Porsche
                        </p>
                        <div class="img-container">
                            <img width="245" src="../assets/images/timeline/2024.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-2025">
                    <div class="content">
                        <div class="img-container">
                            <img width="210" src="../assets/images/timeline/2025-1.png" alt="">
                        </div>
                        <p>
                            <br><br>

                            BRP x Roblox
                            <br><br>
                            Became Nilu27's official brand<br> licensing agent
                        </p>
                        <div class="img-container rounded-3">
                            <img width="160" src="../assets/images/timeline/2025-2.png" alt="">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>