<div class="my-5 timeline pb-5 pt-4" id="timeline">
    <div class="container">
        <h3>our timeline</h3>

        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                    aria-orientation="">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-2019"
                        type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <div class="my-auto active-year">2019</div>
                    </button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-2021"
                        type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <div class="my-auto">2021</div>
                    </button>

                    <button class="nav-link " id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-2022"
                        type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <div class="my-auto">2022</div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-2023"
                        type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="my-auto">2023</div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-2024"
                        type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="my-auto">2024</div>
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-2025"
                        type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="my-auto">2025</div>
                    </button>
                </div>
            </div>

            <div class="tab-content col-md-9 position-relative">
                <div class="tab-pane three-imgs-temp fade show active" id="v-2019">
                    <div class=" inner">
                        <div class="top-img">
                            <img src="../assets/images/timeline/can-am.svg" alt="">
                        </div>
                        <div class="content">
                            <img src="../assets/images/timeline/dakar.png" alt="">
                            <p><br>
                                <br>
                                Became BRP Can-Am, Skidoo & Seadoo<br>
                                exclusive brand licensing agent<br>
                                BRP Can-Am x Dakar Game 2019
                            </p>
                        </div>
                        <div class="btm-img">
                            <img src="../assets/images/timeline/sea.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane two-imgs-temp fade" id="v-2021">
                    <div class="inner">
                        <div class="top-img">
                            <img src="../assets/images/timeline/porsche.png" alt="">
                        </div>
                        <div class="content">
                            <img src="../assets/images/timeline/lambo.png" alt="">
                            <p>
                                <br>
                                OSL start collaborating with Porsche
                            </p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane three-imgs-temp fade" id="v-2022">
                    <div class="inner">
                        <div class="top-img">
                            <img src="../assets/images/timeline/can-am.svg" alt="">
                        </div>
                        <div class="content">
                            <img src="../assets/images/timeline/dakar.png" alt="">
                            <p><br>
                                <br>
                                Became BRP Can-Am, Skidoo & Seadoo<br>
                                exclusive brand licensing agent<br>
                                BRP Can-Am x Dakar Game 2019
                            </p>
                        </div>
                        <div class="btm-img">
                            <img src="../assets/images/timeline/sea.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="tab-pane two-imgs-temp fade" id="v-2023">
                    <div class="inner">
                        <div class="top-img">
                            <img src="../assets/images/timeline/porsche.png" alt="">
                        </div>
                        <div class="content">
                            <img src="../assets/images/timeline/lambo.png" alt="">
                            <p>
                                <br>
                                OSL start collaborating with Porsche
                            </p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane three-imgs-temp fade" id="v-2024">
                    <div class="inner">
                        <div class="top-img">
                            <img src="../assets/images/timeline/can-am.svg" alt="">
                        </div>
                        <div class="content">
                            <img src="../assets/images/timeline/dakar.png" alt="">
                            <p><br>
                                <br>
                                Became BRP Can-Am, Skidoo & Seadoo<br>
                                exclusive brand licensing agent<br>
                                BRP Can-Am x Dakar Game 2019
                            </p>
                        </div>
                        <div class="btm-img">
                            <img src="../assets/images/timeline/sea.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="tab-pane two-imgs-temp fade" id="v-2025">
                    <div class="inner">
                        <div class="top-img">
                            <img src="../assets/images/timeline/porsche.png" alt="">
                        </div>
                        <div class="content">
                            <img src="../assets/images/timeline/lambo.png" alt="">
                            <p>
                                <br>
                                OSL start collaborating with Porsche
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>