<div id="videogames" class="text-center video-games">
    <div class="container">
        <h2 class="">videogames</h2>
        <div class="position-relative mt-0 mb-5">
            <div class="carousel-video" id="carousel-video">
                <div>
                    <img src="../assets/images/hero_banner.jpg" alt="">
                    <button type="button" class="video-overlay"></button>
                </div>
                <div>
                    <img src="../assets/images/image_game1.png" alt="">
                </div>
                <div>
                    <img src="../assets/images/image_game2.png" alt="">
                </div>
            </div>
            <img src="../assets/images/logo_games.png" class="img-logo position-absolute" alt="">
        </div>
        <div class="my-2 py-2 my-lg-5 py-lg-5">
            <h3>Forza Horizon 5</h3>
            <p class="p-primary">First and foremost, brand exposure lies at the heart of this strategic move. By
                immersing ourselves in
                the world of video games, we can connect with a younger audience and introduce them to the thrilling
                Can-Am brand from an early age. This exposure lays the foundation for building lasting brand loyalty and
                establishes a strong connection that may translate into future...
            </p>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade video-modal" id="slide3Modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/U3mEOHvSUyw?autoplay=1&mute=1&loop=1&controls=1&playlist=U3mEOHvSUyw"></iframe>
            </div>
        </div>
    </div>
</div>