header {
    background-color: var(--bg-primary);

    nav {
        border: 1px solid var(--border-color);
        border-radius: 40px;
        padding: 20px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        background-color: var(--bg-primary);
        height: 60px;

        a {
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s;

            &:hover {
                color: black;
            }
        }

        &.sticky {
            position: fixed;
            transform: translate(-50%, -50%);
            left: 50%;
            z-index: 99;
            top: 70px;
            backdrop-filter: blur(5px);
            background: linear-gradient(to top, rgba(255, 255, 255, .1), rgba(255, 255, 255, .9));
        }
    }
}