body {
  font-family: "Encode Sans Condensed", sans-serif;
}

h1,
h2 {
  color: #14161B;
  font-size: 28px;
  font-weight: 500;
}

h3 {
  color: #14161B;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  color: #8398AC;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
  color: #627281;
  cursor: pointer;
}

.p-secondary {
  color: var(--color-faded);
  font-weight: 300;
  font-size: 37px;
  line-height: 130%;
}

.p-primary {
  color: var(--color-muted);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

}

input {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #FFF;
  height: 60px;
  padding: 10px;

}

textarea {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #FFF;
  height: 126px;
  padding: 10px;
}

.modal-dialog {
  max-width: fit-content;
}

.modal.video-modal {
  .modal-content {
    padding: 0;
    margin: 0;
    background: none;
    border: 0;

    .modal-body {
      width: 75vw;
      height: 85vh;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

}

.card {
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    color: var(--color-primary);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 16px 22px;
  }
}