---
---
@use '../_sass/reset';
@use '../_sass/header';
@use '../_sass/hero';
@use '../_sass/showcase';
@use '../_sass/about';
@use '../_sass/timeline';
@use '../_sass/services';
@use '../_sass/videogames';
@use '../_sass/contact';
@use '../_sass/mobile';
@use '../_sass/pages';


:root {
    --color-primary: #088DE5;
    --color-secondary: #FFF;
    --color-muted: #54677A;
    --color-faded: #8398AC;
    --bg-primary: #FAFCFF;
    --bg-secondary: #fff;
    --border-color: #DBE5EC;
}

body {
    font-family: "Encode Sans Condensed", sans-serif;
    color: var(--color-muted);
}

@keyframes float {
    0% {
        transform: rotate(var(--rotate-angle)) translateY(0px);
    }

    50% {
        transform: rotate(var(--rotate-angle)) translateY(-10px);
    }

    100% {
        transform: rotate(var(--rotate-angle)) translateY(0px);
    }
}



@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

footer p {
    color: #9CA4AB;
}