<div class="can-header pt-lg-5">
    <div class="container">
        <div class="d-flex">
            <div class="inner d-flex mt-5">
                <div>
                    <div class="d-flex align-items-center">
                        <img src="../assets/images/showcase/showcase_02_canam.png" class="w-25 me-3" alt="">
                        <h2 class="fw-bolder border-start ps-3 text-uppercase">Toys</h2>
                    </div>
                    <p class="p-primary pt-4">
                        Introducing the Can-Am Powerful Ride-On toys. Experience the thrill of adventure from an early
                        age
                        with our Can-Am Powerful Ride-On Toy. Created by the esteemed Can-Am team, this dynamic toy is
                        designed with a clear purpose in mind.
                    </p>
                </div>

                <ul class="navigation">
                    <li>
                        <a href="/can-am-games">
                            <img src="../assets/images/Group.svg" alt="">
                            <h4>Explore Video Games</h4>
                        </a>
                    </li>
                    <li>
                        <a class="active">
                            <img src="../assets/images/Layer_1.svg" alt="">
                            <h4>Explore Toys</h4>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="inner toys-hero">
                <img src="../assets/images/can-am/toy_blue.png" alt="">
                <img src="../assets/images/can-am/can-car-black.png" alt="">
                <img src="../assets/images/can-am/can-car-roose.png" alt="">
            </div>

        </div>
    </div>
</div>


<div class="container tab-content">
    <p class="text-center my-5 p-secondary">By introducing a ride-on toy bearing the Can-Am name, we aim to
        captivate a younger audience and instil a sense of brand loyalty from the outset. This early exposure
        can lay the foundation for future brand affinity and potentially lead to future sales of Can-Am vehicles
        as these young enthusiasts grow older.
    </p>
    <h3 class="my-5">toys</h3>
    <div class="grid-cards">


        <!-- Renegade  -->
        <div class="toy-card">
            <div class="gallery">
                <div class="gallery-image">
                    <img src="../../assets/images/can-am/renegade/DK-CA002-BU.jpg" class="main-img" alt="">
                </div>
                <div class="gallery-thumbs">
                    <button class="gallery-nav prev-carousel">
                        <img src="../../assets/images/gallery-nav-arrow.svg" alt="">
                    </button>
                    <div class="thumbs-wrapper">
                        <button>
                            <img src="../../assets/images/can-am/renegade/DK-CA002-GR.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/renegade/DK-CA002-BU.jpg" class="active">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am//renegade/DK-CA002-K.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/renegade/DK-CA002-R.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/renegade/DK-CA002-WH.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/renegade/DK-CA002-YE.jpg">
                        </button>
                    </div>
                    <button class="gallery-nav next-carousel">
                        <img src="../../assets/images/gallery-nav-arrow.svg" alt="">
                    </button>
                </div>
            </div>

            <div>
                <h3 class="py-3">Renegade</h3>
                <p>Firstly, we understand the importance of brand exposure. By introducing a
                    ride-on toy bearing the Can-Am name, we aim to captivate a younger audience and instil a sense of
                    brand loyalty from the outset. This early exposure can lay the foundation for future brand affinity
                    and potentially lead to future sales of Can-Am vehicles as these young enthusiasts.
                </p>
            </div>
            <a class="read-more" href="can-am-toy-details">
                <span>More details</span>
                <img src="../assets/images/arrow.svg" alt="">
            </a>
        </div>

        <!-- Maverick X3  -->
        <div class="toy-card">
            <div class="gallery">
                <div class="gallery-image">
                    <img src="../../assets/images/can-am/maverickx3/MV_X3_DP.jpg" class="main-img" alt="">
                </div>
                <div class="gallery-thumbs">
                    <button class="gallery-nav prev-carousel">
                        <img src="../../assets/images/gallery-nav-arrow.svg" alt="">
                    </button>
                    <div class="thumbs-wrapper">
                        <button>
                            <img src="../../assets/images/can-am/maverickx3/MV_X3_BL.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3/MV_X3_DP.jpg" class="active">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3/MV_X3_GR.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3/MV_X3_LP.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3/MV_X3_OR.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3/MV_X3_RE.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3/MV_X3_RS.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3/MV_X3_YE.jpg">
                        </button>
                    </div>
                    <button class="gallery-nav next-carousel">
                        <img src="../../assets/images/gallery-nav-arrow.svg" alt="">
                    </button>
                </div>
            </div>

            <div>
                <h3 class="py-3">Maverick X3</h3>
                <p>Furthermore, our ride-on toy serves as more than just a plaything. It doubles as a fun and engaging
                    marketing tool for the Can-Am brand. With its dynamic design and realistic features, our toy sparks
                    curiosity and generates interest among children and adults alike. It becomes a conversation starter,
                    igniting conversations about the Can-Am legacy.
                </p>
            </div>
            <a class="read-more" href="can-am-toy-details">
                <span>More details</span>
                <img src="../assets/images/arrow.svg" alt="">
            </a>
        </div>

        <!-- Maverick X3 #2  -->
        <div class="toy-card">
            <div class="gallery">
                <div class="gallery-image">
                    <img src="../../assets/images/can-am/maverickx3-2/MV_X3-3_DT.jpg" class="main-img" alt="">
                </div>
                <div class="gallery-thumbs">
                    <button class="gallery-nav prev-carousel">
                        <img src="../../assets/images/gallery-nav-arrow.svg" alt="">
                    </button>
                    <div class="thumbs-wrapper">
                        <button>
                            <img src="../../assets/images/can-am/maverickx3-2/MV_X3-3_DT.jpg" class="active">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3-2/MV_X3-3_BL.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3-2/MV_X3-3_GR.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3-2/MV_X3-3_OR.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3-2/MV_X3-3_RE.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3-2/MV_X3-3_RS.jpg">
                        </button>
                        <button>
                            <img src="../../assets/images/can-am/maverickx3-2/MV_X3-3_YE.jpg">
                        </button>
                 
                    </div>
                    <button class="gallery-nav next-carousel">
                        <img src="../../assets/images/gallery-nav-arrow.svg" alt="">
                    </button>
                </div>
            </div>

            <div>
                <h3 class="py-3">Maverick X3</h3>
                <p>In addition, diversifying our product offerings is a key driver behind our powerful ride-on toy. By
                    expanding beyond traditional vehicles and venturing into the realm of toys, we appeal to a wider
                    range of consumers. Whether it's a young child's first off-road adventure or a family's shared
                    outdoor experience, our ride-on toy provides a gateway to the world of Can-Am excitement for all.
                </p>
            </div>
            <a class="read-more" href="can-am-toy-details">
                <span>More details</span>
                <img src="../assets/images/arrow.svg" alt="">
            </a>
        </div>



    </div>


</div>