<div class="can-header pt-lg-5">
  <div class="container">
    <div class="inner-header">
      <div class="inner d-flex mt-5">
        <div>
          <div class="d-flex align-items-center">
            <img src="{{ site.data.can_toys.header.image }}" class="w-25 me-3" alt="">
            <h2 class="fw-bolder border-start ps-3 text-uppercase">{{ site.data.can_toys.header.title }}</h2>
          </div>
          <p class="p-primary pt-4">{{ site.data.can_toys.header.description }}</p>
        </div>
        <ul class="navigation">
          {% for nav in site.data.can_toys.navigation %}
          <li>
            <a href="{{ nav.link }}" class="{% if nav.active %}active{% endif %}">
              <img src="{{ nav.image }}" alt="">
              <h4>{{ nav.title }}</h4>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="inner toys-hero">
        {% for img in site.data.can_toys.hero_images %}
        <img src="{{ img }}" alt="">
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container tab-content">
  <p class="text-center my-5 p-secondary">{{ site.data.can_toys.intro_paragraph }}</p>
  <h3 class="my-5">toys</h3>
  <div class="grid-cards">
    {% for toy in site.toys %}
    <div class="toy-card">
      <div class="gallery">
        <div class="gallery-image">
          <img src="{{ toy.main_image }}" class="main-img" alt="">
        </div>
        <div class="gallery-thumbs">
          <button class="gallery-nav prev-carousel">
            <img src="../../assets/images/gallery-nav-arrow.svg" alt="">
          </button>
          <div class="thumbs-wrapper">
            {% for thumb in toy.thumbnails %}
            <button>
              <img src="{{ thumb }}" {% if forloop.first %}class="active" {% endif %}>
            </button>
            {% endfor %}
          </div>
          <button class="gallery-nav next-carousel">
            <img src="../../assets/images/gallery-nav-arrow.svg" alt="">
          </button>
        </div>
      </div>
      <div>
        <h3 class="py-3">{{ toy.name }}</h3>
        <p>{{ toy.description | truncate: 205 }}</p>
      </div>
      <a class="read-more" href="{{ toy.permalink }}">
        <span>More details</span>
        <img src="../assets/images/arrow.svg" alt="">
      </a>
    </div>
    {% endfor %}
  </div>
</div>