<div class="can-header pt-5">
    <div class="container">
        <div class="d-flex flex-wrap">
            <div class="inner d-flex mt-lg-5 mt-3">
                <div>
                    <div class="d-flex align-items-center">
                        <img src="../assets/images/showcase/showcase_02_canam.png" class="w-25 me-3" alt="">
                        <h2 class="fw-bolder border-start ps-3 text-uppercase">video games</h2>
                    </div>
                    <p class="p-primary pt-4">
                        Introducing Can-Am in the World of Video Games.
                        <br>
                        The Can-Am team has embarked on an exciting new
                        venture by entering into the realm of video games with Forza and Dakar Rally.
                    </p>
                </div>

                <ul class="navigation">
                    <li>
                        <a class="active">
                            <img src="../assets/images/Group.svg" alt="">
                            <h4>Explore Video Games</h4>
                        </a>
                    </li>
                    <li>
                        <a href="/can-am-toys">
                            <img src="../assets/images/Layer_1.svg" alt="">
                            <h4>Explore Toys</h4>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="inner slider" id="slide-shifter">
                <button type="button" class="slide active">
                    <img class="w-100" src="../assets/images/can-am/video_game_1.jpg" alt="">
                </button>
                <button type="button" class="slide">
                    <img class="w-100" src="../assets/images/can-am/video_game_2.jpg" alt="">
                </button>
                <button type="button" class="slide">
                    <img class="w-100" src="../assets/images/can-am/video_game_3.jpg" alt="">
                </button>
            </div>

        </div>
    </div>
</div>

<div class="container tab-content">
    <p class="text-center my-5 p-secondary">By incorporating Can-Am vehicles into the virtual realm, we create
        an
        immersive experience that captures the attention and interest of players. It becomes a platform
        for showcasing our capabilities, craftsmanship, and commitment to delivering unparalleled
        excitement. Through the fun and interactive nature of video games, we ensure that the Can-Am
        brand remains at the forefront of enthusiasts' minds.
    </p>
    <h3 class="my-3">explore games</h3>
    <div class="d-flex flex-column gap-3">
        <div class="d-flex flex-wrap item-video pt-5 pb-3">
            <div class="inner">
                <div class="d-flex align-items-center py-2">
                    <img src="../assets/images/logo_games.png" class="me-3" alt="">
                    <h3>Forza Horizon 5</h3>
                </div>
                <p class="p-primary">
                    First and foremost, brand exposure lies at the heart of this strategic move. By
                    immersing ourselves in the world of video games, we can connect with a younger
                    audience and introduce them to the thrilling Can-Am brand from an early age. This
                    exposure lays the foundation for building lasting brand loyalty and establishes a
                    strong connection that may translate into future sales of our exceptional vehicles.
                    <br>
                    <br>
                    Diversifying our product offerings is another key motivation
                    behind our entry into the world of video games. By expanding beyond the traditional
                    boundaries of automotive manufacturing, we can appeal to a wider range of consumers.
                    Through interactive gameplay experiences featuring Can-Am vehicles, we provide a
                    unique and captivating way for enthusiasts of all ages to engage with our brand.
                </p>

            </div>
            <div class="inner">
                <img src="../assets/images/can-am/image.png" class="w-100" alt="">
            </div>
        </div>
        <div class="d-flex flex-wrap item-video py-3 pt-5">
            <div class="inner">
                <div class="d-flex align-items-center py-2">
                    <img src="../assets/images/logo_games.png" class="me-3" alt="">
                    <h3>Forza Horizon 5</h3>
                </div>
                <p class="p-primary">
                    First and foremost, brand exposure lies at the heart of this strategic move. By
                    immersing ourselves in the world of video games, we can connect with a younger
                    audience and introduce them to the thrilling Can-Am brand from an early age. This
                    exposure lays the foundation for building lasting brand loyalty and establishes a
                    strong connection that may translate into future sales of our exceptional vehicles.
                    <br>
                    <br>
                    Diversifying our product offerings is another key motivation
                    behind our entry into the world of video games. By expanding beyond the traditional
                    boundaries of automotive manufacturing, we can appeal to a wider range of consumers.
                    Through interactive gameplay experiences featuring Can-Am vehicles, we provide a
                    unique and captivating way for enthusiasts of all ages to engage with our brand.
                </p>

            </div>
            <div class="inner">
                <img src="../assets/images/can-am/image-1.png" class="w-100" alt="">
            </div>
        </div>
        <div class="d-flex flex-wrap item-video py-3 pt-5">
            <div class="inner">
                <div class="d-flex align-items-center py-2">
                    <img src="../assets/images/logo_games.png" class="me-3" alt="">
                    <h3>Video Games</h3>
                </div>
                <p class="p-primary">
                    By incorporating Can-Am vehicles into the virtual realm, we create an immersive experience that
                    captures the attention and interest of players. It becomes a platform for showcasing our
                    capabilities, craftsmanship, and commitment to delivering unparalleled excitement. Through the fun
                    and interactive nature of video games, we ensure that the Can-Am brand remains at the forefront of
                    enthusiasts' minds.
                    <br>
                    <br>
                    Diversifying our product offerings is another key motivation
                    behind our entry into the world of video games. By expanding beyond the traditional
                    boundaries of automotive manufacturing, we can appeal to a wider range of consumers.
                    Through interactive gameplay experiences featuring Can-Am vehicles, we provide a
                    unique and captivating way for enthusiasts of all ages to engage with our brand.
                </p>
            </div>
            <div class="inner">
                <img src="../assets/images/can-am/image-2.png" class="w-100" alt="">
            </div>
        </div>
    </div>

</div>